<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../../static/css/common.css" rel="stylesheet" th:href="@{/css/common.css}">
    <link href="../../static/css/corptravel.css" rel="stylesheet" th:href="@{/css/corptravel.css}">
</head>
<body>

<div class="container bg-gray-eee box-shadow mar-bottom-30"
     style="padding-right: 0px; padding-left: 0px; position: relative; margin-top: 120px;">
    <table border="0" cellspacing="0" cellpadding="0"
           class="table table-hover table-striped font12 table-bordered v-align-top">
        <tr>
            <th style="width:8%;">航班号</th>
            <th style="width:10%;">乘机人</th>
            <th style="width:10%;">乘机日期</th>
            <th style="width:8%;">出发城市</th>
            <th style="width:8%;">到达城市</th>
            <th style="width:5%;">舱位</th>
            <th style="width:15%;">乘客证件</th>

            <th style="width:14%;">联系电话</th>
            <th style="width:6%;">价格</th>
            <th style="width:6%;">&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
        <tr th:each="order:${userFlightList}">
            <td th:text="${order.flightNum}"></td>
            <td th:text="${order.username}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.departure}"></td>
            <td th:text="${order.destination}"></td>
            <td th:text="${order.flightClass}"></td>
            <td th:text="${order.userID}"></td>
            <td th:text="${order.phone}"></td>
            <td th:text="${order.flightPrice}"></td>
            <td>
                <form id="form-msg" class="sui-form form-horizontal" action="/refundTicket" method="post" th:action="@{/user/refundTicket/}+${order.orderID}">
                    <div id="navfirst">
                        <input type="submit" class="input-middle" value="退票" style="margin-top: 25px">
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>